@{
    ViewData["Title"] = "Contact Us";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    1395<br />
    Piccard Dr, Suite 200 Rockville MD 20850<br />
    <abbr title="Phone">P:</abbr>
    (000)000-0000
</address>

<address>
    <strong>Support:</strong> <a href="mailto:it@avarconsulting.com">it@avarconsulting.com</a>
</address>
